.header{
    margin-bottom: 20px;
    padding: 10px 10px 5px 0;
    border-bottom:2px solid rgb(206, 194, 194);
}   

.quiz_header>h4{
    border-bottom: 2px solid; 
    display: inline;
    padding: 10px 13px 1px 10px;
}

.quiz_header{
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
    
.quiz{
    padding: 0 0px;
}

.question{
    padding: 25px 25px;    
}

.question>h5{
    padding-bottom: 10px;
}

.radio{
    padding: 0px 20px;
    width: 50px;
}

.quiz_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.quiz_footer_first{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding-right: 15%;
}

.quiz_footer_first>button{
    padding: 0;
    border: none;
    background: none
}

.quiz_footer_first>button:focus{
    outline: none;
}

.quiz_footer>button{
    padding: 0;
    border: none;
    background: none ;
    margin-right: 15%;
}

.quiz_footer>button:focus{
    outline: none;
}


.quiz_footer>button:hover{
    color: blueviolet;
}

.quiz_footer_first>button:hover{
    color: blueviolet;
}

.next{
   display: flex;
   justify-content: center;
   margin-right: 15%;
}

.next1{
    margin-right: 50%;
}

